body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/backgrounddesign.png'); /* Replace 'your-background-image.jpg' with your actual image path */
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed; /* Ensures the background image stays fixed as the content scrolls */
    background-position: center; /* Centers the background image */
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
}

header .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .header-logo {
    width: 130px; /* Adjust width to maintain square shape */
    height: 130px; /* Adjust height to maintain square shape */
    margin-right: 20px; /* Adjust spacing */
    object-fit: contain; /* Ensures the image covers the entire space */
    border-radius: 0; /* Ensure no border radius */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-section {
    margin-bottom: 40px;
}

.menu-section h2 {
    border-bottom: 2px solid #6D5F59;
    padding-bottom: 10px;
    color: #6D5F59;
}

.menu-item {
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
    'Image Name Price'
    'Image Discription discription';
    grid-template-columns: 105px auto 30px;
    grid-template-rows: 25px auto;
}

.menu-item h3 {
    margin: 0;
    grid-area: Name;
    justify-self: left;
}

.menu-item .price {
    float: right;
    color: #6D5F59;
    font-weight: bold;
    grid-area: Price;
    justify-self: right;
}

.menu-item p {
    margin: 5px 0 0 0;
    color: #555;
    grid-area: Discription;
    justify-self: left;
}

.item-img {
    grid-area: Image;
    max-width: 100px; /* Adjust width to maintain square shape */
    width: auto;
    max-height: 100px; /* Adjust height to maintain square shape */
    height: auto;
    margin-right: 20px; /* Adjust spacing */
    object-fit: contain; /* Ensures the image covers the entire space */
    border-radius: 0; /* Ensure no border radius */
    justify-self: left;
}

.reminder {
    text-align: center;
    font-weight: bold;
    color: #6D5F59;
}
    
footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.tripadvisor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.tripadvisor-logo {
    width: 75px; 
    height: auto;
    object-fit: contain;
}

.tripadvisor-container p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.googlereview-logo {
    width: 60px; 
    height: 60px;
    object-fit: contain;
    Padding-Left: 15px;
}

.googlereview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.googlereview-container p {
    font-size: 16px;
    color: #555;
    Margin-Left: 5px;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.facebook-logo {
    width: 55px; 
    height: 55px;
    object-fit: fill;
    Margin-Bottom: 2px;
}

.instagram-logo {
    width: 65px; 
    height: 65px;
    object-fit: fill;
}

.google-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.google-form p {
    font-size: 20px;
    color: #555;
}

.side-note {
    Color: #808080
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ebe7e0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #e3dfd8;
}


.merch-img {
    display: flex;
    width: 150px;
    height: auto;
    justify-self: center;
    border-radius: 0; /* Ensure no border radius */
}

.merch-section h2 {
    border-bottom: 2px solid #6D5F59;
    padding-bottom: 10px;
    color: #6D5F59;
}

.merch-section p {
    color: #6D5F59;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
}

.merch-section {
    margin-bottom: 40px;
}

.merch-section h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.merch-section h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#polo {
    display: grid;
    grid-template-areas:
    'Header Header'
    'item1 item2'
    'item3 item4';
}

#polo H2 {
    grid-area: Header;
}

#polo .item1 {
    grid-area: item1;
}

#polo .item2 {
    grid-area: item2;
}

#polo .item3 {
    grid-area: item3;
}

#polo .item4 {
    grid-area: item4;
}

#tshirt {
    display: grid;
    grid-template-areas:
    'Header Header'
    'item1 item2'
    'item3 item4';
}

#tshirt H2 {
    grid-area: Header;
}

#tshirt .item1 {
    grid-area: item1;
}

#tshirt .item2 {
    grid-area: item2;
}

#tshirt .item3 {
    grid-area: item3;
}

#tshirt .item4 {
    grid-area: item4;
}

#caps {
    display: grid;
    grid-template-areas:
    'Header Header'
    'item1 item2'
    'item3 item4';
}

#caps H2 {
    grid-area: Header;
}

#caps .item1 {
    grid-area: item1;
}

#caps .item2 {
    grid-area: item2;
}

#caps .item3 {
    grid-area: item3;
}

#caps .item4 {
    grid-area: item4;
}

#suv {
    display: grid;
    grid-template-areas:
    'Header Header'
    'item1 item2'
    'item3 item4'
    'item5 item6';
}

#suv H2 {
    grid-area: Header;
}

#suv .item1 {
    grid-area: item1;
}

#suv .item2 {
    grid-area: item2;
}

#suv .item3 {
    grid-area: item3;
}

#suv .item4 {
    grid-area: item4;
}

#suv .item5 {
    grid-area: item5;
}

.cashless {
    justify-self: center;
    Font-Size: 30px;
    grid-area: Word;
}

.CL-section {
    display: grid;
     grid-template-areas:
    'Word Word Word'
    'Card1 Card2 Card3';
}

.MCCard {
    justify-self: center;
    width: 200px;
    Height: auto;
    grid-area: Card1;
}

.DCCard {
    justify-self: center;
    width: 200px;
    Height: auto;
    grid-area: Card2;
}

.VCCard {
    justify-self: center;
    width: 200px;
    Height: auto;
    grid-area: Card3;
}
    












